pipeline/pipeline_analyse_vm_cpu_performance.json
{
	"name": "pipeline_analyse_vm_cpu_performance",
	"properties": {
		"activities": [
			{
				"name": "azurefunction_get_vm_cpu_analysis",
				"type": "AzureFunctionActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": {
						"value": "@pipeline().parameters.FunctionName",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\n    \"tenentId\" : \"@{pipeline().parameters.TenentId}\",\n    \"contentType\" : \"@{pipeline().parameters.ContentType}\",\n    \"grantType\" : \"@{pipeline().parameters.GrantType}\",\n    \"clientId\" : \"@{pipeline().parameters.ClientId}\",\n    \"clientSecret\" : \"@{pipeline().parameters.ClientSecret}\",\n    \"resource\" : \"@{pipeline().parameters.Resource}\",\n    \"endPointUrl\" : \"@{pipeline().parameters.EndPointUrl}\",\n    \"workSpaceId\" : \"@{pipeline().parameters.WorkSpaceId}\",\n    \"logAnalyticsUrl\" : \"@{pipeline().parameters.LogAnalyticsUrl}\",\n    \"logQuery\" : \"@{pipeline().parameters.LogQuery}\",\n    \"accountName\" : \"@{pipeline().parameters.AccountName}\",\n    \"stageContainerName\" : \"@{pipeline().parameters.ContainerName}\",\n    \"stageFolderName\" : \"@{pipeline().parameters.FolderName}\",\n    \"accountKey\" : \"@{pipeline().parameters.AccountKey}\"\n}",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "azurefunction_get_activitylog_linkedservice",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "azurefunction_process_jsondata",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "azurefunction_get_vm_cpu_analysis",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "convert-json-to-csv",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\n    \"logType\" : \"AzureActivity\",\n    \"stageContainerName\" : \"@{pipeline().parameters.ContainerName}\",\n    \"stageFolderName\" : \"@{concat(pipeline().parameters.FolderName, '/',formatDateTime(pipeline().TriggerTime, 'MM-dd-yyyy'))}\",\n    \"preprocessContainerName\" : \"@{pipeline().parameters.PreprocessContainerName}\",\n    \"preprocessFolderName\" : \"@{concat(pipeline().parameters.PreprocesFolderName, '/',formatDateTime(pipeline().TriggerTime, 'MM-dd-yyyy'))}\",\n    \"stageFileName\" : \"@{activity('azurefunction_get_vm_cpu_analysis').output.FileName}\",\n    \"accountName\" : \"@{pipeline().parameters.AccountName}\",\n    \"accountKey\" : \"@{pipeline().parameters.AccountKey}\"\n}",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "azurefunction_dataconversion_linkedservice",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"FunctionName": {
				"type": "string",
				"defaultValue": "accees-to-logAnalytics"
			},
			"TenentId": {
				"type": "string",
				"defaultValue": "b16d5ae9-bfc3-4944-afcf-e29f792bdac6"
			},
			"ContentType": {
				"type": "string",
				"defaultValue": "application/x-www-form-urlencoded"
			},
			"GrantType": {
				"type": "string",
				"defaultValue": "client_credentials"
			},
			"ClientId": {
				"type": "string",
				"defaultValue": "14f8fbe9-3505-4ee1-96f9-8aac669bd4d1"
			},
			"ClientSecret": {
				"type": "string",
				"defaultValue": "8M.adCoqV_~qyg3NKz6bEu-Yx2Qa3_HEn4"
			},
			"Resource": {
				"type": "string",
				"defaultValue": "https://api.loganalytics.io"
			},
			"EndPointUrl": {
				"type": "string",
				"defaultValue": "https://login.microsoftonline.com/"
			},
			"WorkSpaceId": {
				"type": "string",
				"defaultValue": "a61b0521-7ed9-4896-8ef3-2081ad8b40f5"
			},
			"LogAnalyticsUrl": {
				"type": "string",
				"defaultValue": "https://api.loganalytics.io/v1/workspaces/"
			},
			"LogQuery": {
				"type": "string",
				"defaultValue": "let CPUThreasholdUsage = 80; Perf  | where TimeGenerated <= ago(1h) and  ObjectName == 'Processor' and  CounterName == '% Processor Time' and  InstanceName == '_Total' and  Computer in((Heartbeat | distinct Computer))  | summarize by Computer, TimeGenerated, ObjectName, CounterName, CounterValue | where CounterValue < CPUThreasholdUsage"
			},
			"PreProcessFunctionName": {
				"type": "string",
				"defaultValue": "convert-json-to-csv"
			},
			"ContainerName": {
				"type": "string",
				"defaultValue": "preprocess"
			},
			"FolderName": {
				"type": "string",
				"defaultValue": "cpuanalysis"
			},
			"AccountName": {
				"type": "string",
				"defaultValue": "vmlogstorageaccount"
			},
			"AccountKey": {
				"type": "string",
				"defaultValue": "EtDjDbp05/qwWDEkKcGWnjbv0/Eyf+t2YMsFAY6WWKnUy3Kix+tZ5Qf0ycdIxJ+rw5GNA2Xa/TrRQUKn9C/Osw=="
			},
			"LogContainerName": {
				"type": "string",
				"defaultValue": "logs"
			},
			"DatawarehouseLogContainer": {
				"type": "string",
				"defaultValue": "datawarehouse"
			},
			"PreprocessContainerName": {
				"type": "string",
				"defaultValue": "stage"
			},
			"PreprocesFolderName": {
				"type": "string",
				"defaultValue": "cpuanalysis"
			},
			"StageTableName": {
				"type": "string",
				"defaultValue": "VmCpuAnalytics_Stage"
			},
			"PublishTableName": {
				"type": "string",
				"defaultValue": "VmCpuAnalytics_Publish"
			}
		},
		"annotations": []
	}
}